@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
}

.image-cropper {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}
